<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
      <div class="containerProdutos">
        <div class="titulo">
          <h2>produtos</h2>
          <p>veja os aparelhos disponiveis</p>
        </div>

        <div class="wrapper">
          <% produtos.forEach(produto => {%>
          <div class="produtos">
            <img src="../uploads/uploads-produtos/<%=produto.image %>" alt="" />
            <h3><%=produto.produto %></h3>
            <h5><%=produto.preco %></h5>
            <p>/mês</p>

            <a href="detalheProduto?id=<%=produto.id%>">
              <button>detalhe</button>
            </a>
          </div>
          <%}) %>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
