<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Renderizar produtos</title>
        <link rel="stylesheet" href="../stylesheets/renderizarProdutos.css" />
    </head>
    <body>
        <div id="tabela">
            <% if(produtos){ %> <% produtos.forEach(produto => {%>
            <div class="renderizarProdutos">
                <h1>ID: <%= produto.id %></h1>
                <p>NOME: <%= produto.produto %></p>
                <p>R$ <%=produto.preco %></p>
                <p>DETALHES: <%=produto.detalhes %></p>
                <p>DESCRIÇÃO: <%=produto.descricao %></p>
            </div>
            <div>
                <img
                    id="imagemProduto"
                    src="../uploads/uploads-produtos/<%=produto.image %>"
                    alt=""
                />
            </div>
            <button
                id="botaoDeletar"
                value="<%= produto.id %>"
                onclick="deleteById(value)"
            >
                Deletar
            </button>
            <%})} %>
        </div>

        <a href="painelAdmin"
            ><button id="botaoVoltarRender">Cadastrar novos produtos</button></a
        >
        <a href="/"><button id="botaoVoltarRender">HOME</button></a>
        <script src="./javascripts/deletar.js"></script>
    </body>
</html>
